<div class="select-container">
  <h1>Ingresa el destino que quieres visitar</h1>
  <select class="form-select" aria-label="Large select example" (change)="getCiudades($event)">
    <option selected disabled>Selecciona el país</option>
    <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre }}</option>
  </select>
  
  
  <select class="form-select" aria-label="Large select example" >
    <option selected disabled>Selecciona la ciudad</option>
    <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ ciudad.nombre }}</option>
  </select>
  <app-next-button routerLink="/two"></app-next-button>
</div>
         