<div class="select-container">
  <h1>
    Ingresa el presupuesto que tienes para tu destino en pesos Colombianos
  </h1>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      type="text"
      class="form-control"
      aria-label="Amount (to the nearest dollar)"
    />
    <span class="input-group-text">COP</span>
  </div>

  <div class="button">
    <app-back-button routerLink="/"></app-back-button>
    <app-next-button routerLink="/two"></app-next-button>
    
  </div>
</div>
