.my-button {
    padding: 10px 20px;
    background-color: #3382cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    
    
  }
  .my-button:hover {
    background-color: #456fa0;
  }
  .my-button:active {
    background-color: #456fa0;
  }

.app-back-button{
    display: flex;
    justify-content: center;
    margin-top: 5em  ;
    padding: 10px 30px;

  }